@use "sass:math";

@function rem($pixel) {
  @if math.is_unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error "#{$pixel} must not include unit";
  }
}

@function em($pixel) {
  @if math.is_unitless($pixel) {
    @return math.div($pixel, 16) + em;
  } @else {
    @error "#{$pixel} must not include unit";
  }
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
